<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>家計簿</title>
</head>

<style>
  table {
  border-collapse: collapse;   /* 隣接するセルの罫線を重ねて表示する */
  font-family: "メイリオ", sans-serif;/* フォントのスタイルを指定する */
  width: 80%;  /* テーブルの横幅を指定する */
  }
  td, th {
  border: 1px solid #000000;   /* 境界線を実線で指定する */
  text-align: center;  /* インライン要素の位置を指定する */
  padding: 3px;        /* 要素の余白を指定する(上下左右) */
  }
</style>

<body>
  <h1>追加項目</h1>
  <table>
    <div class="btn-group">
      <form action="{{ url_for('auth.index')}}" method=post class=add_entry>
        <tr>
         <th><input type="text" class="form-control" id="InputTitle" name=username></th>
         <th><button type="submit" class="btn-secondary">項目追加</button></th>
        </tr>
        <tr>
         <td><input type="text" class="form-control" id="InputTitle" name=username></td>
         <td><button type="submit" class="btn-secondary">費用追加</button></td>
        </tr>
      </form>
    </div>
  </table>
</body>

</html>