<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>家計簿</title>
</head>

  <body>
    <div>
      <h2>ログイン画面</h2>
      <form method="POST" action="/login">
        <div>
          <input type="email" name='email' placeholder="メールアドレス" autofocus="">
        </div>
        <div>
          <input type="password" name='password' placeholder="パスワード">
        </div>
        <div>
          <label>
            <input type="checkbox">
            Remember me
          </label>
        </div>
        <button>ログイン</button> 
      </form>
    </div>
  </body>
</html>
