<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link href="http://fonts.googleapis.com/earlyaccess/mpluslp.css" rel="stylesheet" type='text/css'>
<link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>編集画面</title>
</head>

<style>
   h1 {
     color: #0000FF;
     padding: 5px;
    }
   body {
     text-align: center;
     margin: 0 auto;
     width: 300px;
     height: 250px;
    }
   table {
     border-collapse: collapse;
     font-family: "メイリオ", sans-serif;
     width: 100%;
    }
   tr, th {
     border: 1px solid #000000;
     text-align: center;
     padding: 3px;
    }
</style>

<body>
    <form action="{{ url_for('auth.update_entry', id=entry.id) }}" method="POST" class=index>
      <h1>項目編集</h1>
      <table>
        <div class="form_group">
          <tr>
            <th>項目</th>
            <th><input type="text" class="form-control" id="InputTitle" name=title value="{{entry.categories}}"></th>
          </tr>
          <tr>
            <th>費用</th>
            <th><input type="text" class="form-control" id="InputTitle" name=cost value="{{entry.cost}}"></th>
          </tr>
        </div>
      </table>
      <br>
      <button type="submit" class="btn btn-primary">更新</button>
    </form>
</body>

</html>